<div class="card mx-3 center">
  <div class="card-header">Inicio de sesión</div>
  <div class="card-body p-4">
    <div class="alert alert-danger" role="alert" *ngIf="authError">
      <b>Datos Incorretos!</b>
    </div>
    <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Correo Electrónico</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Ingrese correo electrónico"
          formControlName="email"
        />
      </div>

      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Ingrese contraseña"
          formControlName="password"
        />
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary mr-3" type="submit" [disabled]="loginForm.status === 'INVALID'">
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</div>
